<template>
    <modal name="confirm-card-payment-modal" height="auto" :scrollable="true" :clickToClose="false">
        <div class="modal-confirm-order-box">
            <h1>Płatność Kartą</h1>
            <hr>
            <div class="card-payment-box">
                <div class="text-center">
                    <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <div class="info">Potwierdź, że rachunek został zapłacony kartą.</div>
                </div>
            </div>
            <hr>
            <div class="footer">
                <button class="button-cancel" @click="closeModal()">Anuluj</button>
                <div></div>
                <button class="button-confirm-order" @click="confirmOrder()">Potwierdzam</button>
            </div>
        </div>
    </modal>
</template>

<script>
    import bus from '@/bus'
    import OrderService from '@/services/order.service'

    let orderService = new OrderService()
    export default {
        name: 'ConfirmCardPaymentModal',
        data() {
            return {
                order: {}
            }
        },
        created() {
            bus.$on('order-card-payment-opened', (order) => {
                this.order = order
                this.$modal.show('confirm-card-payment-modal')
            })
        },
        methods: {
            closeModal() {
                this.$modal.hide('confirm-card-payment-modal')
            },
            confirmOrder() {
                orderService.create(this.$route.params.storeId, this.order).then(
                    (response) => {
                        bus.$emit('order-stored')
                        this.$toasted.show('Zamówienie zostało pomyślnie dodane.')
                        this.closeModal()
                    }
                )
            }
        }
    }
</script>