<template>
    <modal name="confirm-cash-payment-modal" height="auto" :scrollable="true">
        <div class="modal-confirm-order-box">
            <h1>Potwierdź Płatność gotówką</h1>
            <hr>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column align-items-center">
                        <input class="input-count-change yerba" type="number" v-model="moneyFromBuyer" v-focus>
                        <div class="count-change-label mt-1">Kwota zapłacona</div>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4">
                        <div class="count-change-value">{{ (totalPrice/100).toFixed(2) }}zł</div>
                        <div class="count-change-label">Wartość zamówienia</div>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4">
                        <div class="count-change-value herba" style="font-weight: 800">{{ (change/100).toFixed(2) }}zł</div>
                        <div class="count-change-label">Reszta</div>
                    </div>
                </div>
            <hr>
            <div class="footer">
                <button class="button-cancel" @click="closeModal()">Anuluj</button>
                <div></div>
                <button class="button-disabled" :class="{ 'button-confirm-order': changeIsBiggerOrEqualThanPrice }" :disabled="!changeIsBiggerOrEqualThanPrice" @click="confirmOrder()">zapłacone - potwierdź</button>
            </div>
        </div>
    </modal>
</template>

<script>
    import bus from '@/bus'
    import OrderService from '@/services/order.service'

    let orderService = new OrderService()
    export default {
        name: 'ConfirmCashPaymentModal',
        data() {
            return {
                order: {},
                moneyFromBuyer: ''
            }
        },
        created() {
            bus.$on('order-cash-payment-opened', (order) => {
                this.moneyFromBuyer = ''
                this.order = order
                this.$modal.show('confirm-cash-payment-modal')
            })
        },
        computed: {
            changeIsBiggerOrEqualThanPrice() {
                return this.moneyFromBuyer*100 >= this.totalPrice
            },
            totalPrice() {
                let totalSum = 0;
                _.forEach(this.order.products, (product) => {
                    totalSum += product.sizes[0].price * product.amount
                })
                return totalSum
            },
            change() {
                if (this.changeIsBiggerOrEqualThanPrice) {
                    return this.moneyFromBuyer*100 - this.totalPrice
                }
                return 0
            }
        },
        methods: {
            closeModal() {
                this.$modal.hide('confirm-cash-payment-modal')
            },
            confirmOrder() {
                if (this.changeIsBiggerOrEqualThanPrice) {
                    orderService.create(this.$route.params.storeId, this.order).then(
                        (response) => {
                            bus.$emit('order-stored')
                            this.$toasted.show('Zamówienie zostało pomyślnie dodane.')
                            this.closeModal()
                        }
                    )
                }
            }
        }
    }
</script>