<template>
    <modal name="confirm-order-modal" height="auto" :scrollable="true">
        <div class="modal-confirm-order-box">
            <h1>Potwierdź Zamówienie</h1>
            <hr>
            <div class="orders">
                <div class="order-single-product" v-for="product in order.products">
                    <div class="left-desc-part">
                        <div class="font-weight-600">{{ product.name }}</div>
                        <div class="product-name"><span class="text-capitalize">{{ product.sizes[0].name}}</span> ({{ product.sizes[0].volume }}ml)</div>
                    </div>
                    <div></div>
                    <div class="right-desc-part">
                        <div class="change-amount">
                            <span class="digit"> {{ product.amount }} szt.</span>
                        </div>
                        <div class="font-weight-600 align-self-end">{{ (product.amount * product.sizes[0].price/100).toFixed(2) }}zł</div>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Sposób płatności</h3>
            <h2 class="user-vouchers">dostępne vouchery: {{ 3 - vouchers }}</h2>
            <div class="choose-option" :class="{'active': order.payment_type === 'cash'}" @click="order.payment_type = 'cash'">
                <i class="fas fa-coins" style="font-size: 26px;"></i>
                <div class="desc">Gotówka</div>
            </div>
            <div class="choose-option" :class="{'active': order.payment_type === 'terminal'}" @click="order.payment_type = 'terminal'">
                <i class="fab fa-cc-visa" style="font-size: 26px;"></i>
                <div class="desc">Karta</div>
            </div>
            <div v-if="isSingleProduct && isSingleSize && vouchers !== 3" class="choose-option" :class="{'active': order.payment_type === 'free'}" @click="order.payment_type = 'free'">
                <i class="fas fa-check" style="font-size: 26px;"></i>
                <div class="desc">Dzienny Voucher</div>
            </div>
            <div v-if="(!isSingleProduct || !isSingleSize) && vouchers !== 3" class="free-drink-disclaimer">
                * Aby wykorzystać dzienny voucher wybierz tylko jeden napój.
            </div>
            <hr>
            <div class="order-total-price">
                <div>Suma</div> 
                <div></div>
                <div>{{ (totalPrice()/100).toFixed(2) }}zł</div>
            </div>
            <hr>
            <div class="footer">
                <button class="button-cancel" @click="closeModal()">Anuluj</button>
                <div></div>
                <button class="button-confirm-order" @click="confirmOrder()">Przejdź dalej</button>
            </div>
        </div>
    </modal>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'ConfirmOrderModal',
        data () {
            return {
                order: {
                    products: [],
                    payment_type: 'cash'
                },
            }
        },
        computed: {
            vouchers() {
                return this.$store.getters.activeVouchers
            },
            isSingleProduct() {
                return this.order.products.length === 1
            },
            isSingleSize() {
                return this.order.products[0].amount === 1
            }
        },
        methods: {
            totalPrice() {
                let totalSum = 0;
                _.forEach(this.order.products, (product) => {
                    totalSum += product.sizes[0].price * product.amount
                })
                return totalSum
            },
            confirmOrder() {
                this.closeModal()
                if (this.order.payment_type === 'cash') {
                    bus.$emit('order-cash-payment-opened', this.order)
                }
                if (this.order.payment_type === 'terminal') {
                    bus.$emit('order-card-payment-opened', this.order)
                }
                if (this.order.payment_type === 'free') {
                    bus.$emit('order-free-payment-opened', this.order)
                }
            },
            closeModal() {
                this.$modal.hide('confirm-order-modal')
            }
        },
        mounted() {
            bus.$on('order-confirmed', (order) => {
                this.order.products = JSON.parse(JSON.stringify(order.products))
                this.$modal.show('confirm-order-modal')
            })
        }
    }
</script>