<template>
    <modal name="confirm-free-payment-modal" height="auto" :scrollable="true">
        <div class="modal-confirm-order-box">
            <h1>Potwierdź odbiór voucheru</h1>
            <hr>
            <div class="confirm-voucher-apply">Na pewno chcesz wykorzystać swój voucher dla tego napoju?</div>
            <hr>
            <div class="footer">
                <button class="button-cancel" @click="closeModal()">Anuluj</button>
                <div></div>
                <button class="button-confirm-order" @click="confirmOrder()">tak</button>
            </div>
        </div>
    </modal>
</template>

<script>
    import bus from '@/bus'
    import OrderService from '@/services/order.service'

    let orderService = new OrderService()
    export default {
        name: 'ConfirmFreePaymentModal',
        data() {
            return {
                order: {}
            }
        },
        created() {
            bus.$on('order-free-payment-opened', (order) => {
                this.order = order
                this.$modal.show('confirm-free-payment-modal')
            })
        },
        methods: {
            closeModal() {
                this.$modal.hide('confirm-free-payment-modal')
            },
            confirmOrder() {
                this.closeModal()
                orderService.create(this.$route.params.storeId, this.order).then(
                    (response) => {
                        bus.$emit('order-stored')
                        if (response.data.success === true) {
                            this.$toasted.show('Zamówienie zostało pomyślnie dodane.')
                        }
                    },
                )
            }
        }
    }

</script>