<template>
    <div class="customer-orders">
        <div class="header">
            CHECK YOUR ORDER STATUS
            <h2>Sprawdź status swojego zamówienia</h2>
        </div>
        <div class="orders">
            <div class="order">
                <div v-for="order in readyOrders" class="single-order ready">
                    <div class="order-number">
                        <span style="font-weight:100">#</span>{{ orderNumberWithZeroAtBeginning(order.id) }}
                    </div>
                    <div class="order-status">Gotowe!</div>
                </div>
            </div>
            <div class="order">
                <div v-for="order in inProgressOrders" class="single-order in-progress">
                    <div class="order-number">
                        <span style="font-weight:100">#</span>{{ orderNumberWithZeroAtBeginning(order.id) }}
                    </div>
                    <div class="order-status">Parzymy...</div>
                </div>
            </div>
            <div class="order">
                <div v-for="order in receivedOrders" class="single-order received">
                    <div class="order-number">
                        <span style="font-weight:100">#</span>{{ orderNumberWithZeroAtBeginning(order.id) }}
                    </div>
                    <div class="order-status">Przyjęliśmy zamówienie.</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import OrderService from '@/services/order.service'

    let orderService = new OrderService()
    export default {
        name: 'CustomerOrders',
        data() {
            return {
                orders: []
            }
        },
        created() {
            this.refreshOrders()
            this.listenIfOrdersStored()
            this.listenIfOrderStatusUpdated()
        },
        methods: {
            orderNumberWithZeroAtBeginning(id) {
                if (id % 100 < 10) {
                    return '0' + id % 100
                }
                return id % 100
            },
            refreshOrders() {
                orderService.index(this.$route.params.storeId).then( (response) => {
                    this.orders = response.data.data
                })
            },
            listenIfOrdersStored() {
                this.$echo.channel('orders-' + this.storeId).listen('OrderStored', () => {
                    this.refreshOrders()
                });
            },
            listenIfOrderStatusUpdated() {
                this.$echo.channel('orders-' + this.storeId).listen('OrderStatusUpdated', () => {
                    this.refreshOrders()
                });
            }
        },
        computed: {
            receivedOrders() {
                let receivedOrders = _.filter(this.orders, { status: 'received' })
                if ( typeof receivedOrders !== 'undefined' ) {
                    return receivedOrders
                }
                return []
            },
            inProgressOrders() {
                let inProgressOrders = _.filter(this.orders, { status: 'in-progress' })
                if ( typeof inProgressOrders !== 'undefined' ) {
                    return inProgressOrders
                }
                return []
            },
            readyOrders() {
                let readyOrders = _.filter(this.orders, { status: 'ready' })
                if ( typeof readyOrders !== 'undefined' ) {
                    return readyOrders
                }
                return []
            },
            storeId() {
                return this.$store.getters.currentStore.id
            }
        }
    }
</script>