<template>
    <div class="order-box shadow-sm rounded" :class="{ 'no-products': isThereNoProducts }">
        <h1>zamówienie</h1>
        <hr>
        <div class="order-single-product" v-for="product in order.products">
            <div class="left-desc-part">
                <div class="font-weight-600">{{ product.name }}</div>
                <div class="product-size"><span class="text-capitalize">{{ product.sizes[0].name }}</span> ({{ product.sizes[0].volume }} ml)</div>
                <div class="remove-product" @click="removeProductFromOrder(product)">usuń</div>
            </div>
            <div></div>
            <div class="right-desc-part">
                <div class="change-amount align-self-end">
                    <span class="subtract" @click="product.amount > 1 ? product.amount -- : 1">- </span>
                    <span class="digit"> {{ product.amount }} </span>
                    <span class="add" @click="product.amount++"> +</span>
                </div>
                <div class="price-box mb-1">{{ (product.sizes[0].price * product.amount/100).toFixed(2) }}zł</div>
            </div>
        </div>
        <hr>
        <div class="order-total-price">
            <div>Suma</div> 
            <div></div>
            <div>{{ (totalPrice()/100).toFixed(2) }}zł</div>
        </div>
        <hr>
        <button class="button-order" @click="confirmOrderModalToggle()">Dodaj zamówienie</button>
        <hr>
        <confirm-order-modal></confirm-order-modal>
        <confirm-card-payment-modal></confirm-card-payment-modal>
        <confirm-cash-payment-modal></confirm-cash-payment-modal>
        <confirm-free-payment-modal></confirm-free-payment-modal>
    </div>
</template>

<script>
import bus from '@/bus'
import ConfirmOrderModal from './ConfirmOrderModal'
import ConfirmCardPaymentModal from "./ConfirmCardPaymentModal"
import ConfirmCashPaymentModal from "./ConfirmCashPaymentModal"
import ConfirmFreePaymentModal from './ConfirmFreePaymentModal'

export default {
    name: 'Order',
    props: [
        'product'
    ],
    components: {
        ConfirmCashPaymentModal,
        ConfirmCardPaymentModal,
        ConfirmOrderModal,
        ConfirmFreePaymentModal
    },
    data () {
        return {
            order: {
                products: []
            }
        }
    },
    created() {
        bus.$on('order-product-added', (newProduct) => {
            if(this.order.products.length !== 0) {
                let addedProduct = _.find(this.order.products, (product) => {
                    return product.name === newProduct.name && _.find( product.sizes, { name: newProduct.sizes[0].name } )
                })
                
                if (typeof addedProduct != 'undefined') {
                    addedProduct.amount += newProduct.amount
                } else {
                    this.order.products.push(newProduct)
                }
            } else {
                this.order.products.push(newProduct)
            }
        })

        bus.$on('order-stored', () => {
            this.order.products = []
        })
    },
    methods: {
        totalPrice() {
            let totalSum = 0;
             _.forEach(this.order.products, (product) => {
                totalSum += product.sizes[0].price * product.amount
            })
            return totalSum
        },
        confirmOrderModalToggle() {
            bus.$emit('order-confirmed', this.order)
        },
        removeProductFromOrder(productToDelete) {
            this.order.products = _.filter(this.order.products, (product) => {
                return !(product.name === productToDelete.name && product.sizes[0].name === productToDelete.sizes[0].name)
            })
        }
    },
    computed: {
        isThereNoProducts() {
            return this.order.products.length === 0
        }
    }
}
</script>
