<template>
    <div class="container-fluid">
        <h1 class="text-left">Dashboard / {{ storeName }} / Zamówienia</h1>
        <hr>
        <div class="row mt-5">
            <div class="col-4">
                <div class="order-status-header">
                    <h2>
                        Przyjęte
                        <span class="certain-orders-amount">
                            ({{ receivedAmount }})
                        </span>
                    </h2>
                </div>
                <div class="lack-of-orders-warning" v-if="!areReceivedOrdersExist">
                    Gratki! Nie masz żadnych oczekujących zamówień. Czas na drzemkę!
                </div>
                <div class="single-order-status shadow-sm rounded mb-4" v-for="order in orders" v-if="order.status === 'received'">
                    <h2>Order #{{ orderNumberWithZeroAtBeginning(order.id) }}</h2>
                    <hr>
                    <div class="order-single-product" v-for="product in order.products">
                        <div class="left-desc-part">
                            <div class="font-weight-600">{{ product.name }}</div>
                            <div class="product-name"><span class="text-capitalize">{{ product.size.name }}</span> ({{ product.size.volume }}ml)</div>
                        </div>
                        <div></div>
                        <div class="right-desc-part">
                            <div class="change-amount">
                                <span class="digit"> {{ product.amount }} szt.</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <h4>#{{ order.created_at | moment('DDMMYY') }}-{{ order.created_at | moment('HHmm') }}</h4>
                        <div></div>
                        <h4>Cena: {{ (totalPrice(order)/100 ).toFixed(2) }}zł</h4>
                    </div>
                    <button class="button-mark-as in-progress" @click="setOrderStatus(order, 'in-progress')">w trakcie</button>
                </div>
            </div>
            <div class="col-4">
                <div class="order-status-header orders-in-progress">
                    <h2>
                        w trakcie
                        <span class="certain-orders-amount">
                            ({{ inProgressAmount }})
                        </span>
                    </h2>
                </div>
                <div class="lack-of-orders-warning" v-if="!areInProgressOrdersExist">
                    Nieźle, nieźle, masz dobry czas :) Fajrant?
                </div>
                <div class="single-order-status shadow-sm rounded orders-in-progress mb-4" v-for="order in orders" v-if="order.status === 'in-progress'">
                    <h2>Order #{{ orderNumberWithZeroAtBeginning(order.id) }}</h2>
                    <hr>
                    <div class="order-single-product" v-for="product in order.products">
                        <div class="left-desc-part">
                            <div class="font-weight-600">{{ product.name }}</div>
                            <div class="product-name"><span class="text-capitalize">{{ product.size.name }}</span> ({{ product.size.volume }}ml)</div>
                        </div>
                        <div></div>
                        <div class="right-desc-part">
                            <div class="change-amount">
                                <span class="digit"> {{ product.amount }} szt.</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <h4>#{{ order.created_at | moment('DDMMYY') }}-{{ order.created_at | moment('HHmm') }}</h4>
                        <div></div>
                        <h4>Cena: {{(totalPrice(order)/100).toFixed(2)}}zł</h4>
                    </div>
                    <button class="button-mark-as ready" @click="setOrderStatus(order, 'ready')">gotowe</button>
                </div>
            </div>
            <div class="col-4">
                <div class="order-status-header orders-ready">
                    <h2>
                        gotowe
                        <span class="certain-orders-amount">
                            ({{ readyAmount }})
                        </span>
                    </h2>
                </div>
                <div class="lack-of-orders-warning" v-if="!areTakenOrdersExist">
                    Wszystko wydane! Jeśli wszędzie indziej też jest pusto... czas <span style="font-weight: 600">#yerbacHerbe</span> na własną rękę!
                </div>
                <div class="single-order-status shadow-sm rounded orders-ready mb-4" v-for="order in orders" v-if="order.status === 'ready'">
                    <h2>Order #{{ orderNumberWithZeroAtBeginning(order.id) }}</h2>
                    <hr>
                    <div class="order-single-product" v-for="product in order.products">
                        <div class="left-desc-part">
                            <div class="font-weight-600">{{ product.name }}</div>
                            <div class="product-name"><span class="text-capitalize">{{ product.size.name }}</span> ({{ product.size.volume }}ml)</div>
                        </div>
                        <div></div>
                        <div class="right-desc-part">
                            <div class="change-amount">
                                <span class="digit"> {{ product.amount }} szt.</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <h4>#{{ order.created_at | moment('DDMMYY') }}-{{ order.created_at | moment('HHmm') }}</h4>
                        <div></div>
                        <h4>Cena: {{ (totalPrice(order)/100).toFixed(2) }}zł</h4>
                    </div>
                    <button class="button-mark-as taken" @click="setOrderStatus(order, 'taken')">zabrane</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import bus from '@/bus'
    import OrderService from '@/services/order.service'

    let orderService = new OrderService()
    export default {
        name: 'Orders',
        data() { 
            return {
                orders: []
            }
        },
        created() {
            this.refreshOrders()
            this.listenIfOrdersStored()
        },
        methods: {
            orderNumberWithZeroAtBeginning(id) {
                if (id % 100 < 10) {
                    return '0' + id % 100
                }
                return id % 100
            },
            setOrderStatus(order, status) {
                let orderStatus = {
                    status: status
                }

                orderService.updateStatus(order.id, orderStatus).then( (response) => {
                    this.refreshOrders()
                })
            },
            totalPrice(order) {
                let totalSum = 0;
                    _.forEach(order.products, (product) => {
                    totalSum += product.size.price * product.amount
                })
                return totalSum
            },
            refreshOrders() {
                orderService.index(this.$route.params.storeId).then( (response) => {
                    this.orders = response.data.data
                })
            },
            listenIfOrdersStored() {
                this.$echo.channel('orders-' + this.storeId).listen('OrderStored', () => {
                    this.refreshOrders()
                });
            }
        },
        computed: {
            storeName() {
                return this.$store.getters.currentStore.name
            },
            storeId() {
                return this.$store.getters.currentStore.id
            },
            areReceivedOrdersExist() {
                if ( _.filter(this.orders, { status: 'received' }).length === 0 ) {
                    return false
                } 
                return true
            },
            areInProgressOrdersExist() {
                if ( _.filter(this.orders, {status: 'in-progress'}).length === 0 ) {
                    return false
                } 
                return true
            },
            areTakenOrdersExist() {
                if ( _.filter(this.orders, {status: 'ready'}).length === 0 ) {
                    return false
                } 
                return true
            },
            receivedAmount() {
                let amount = _.sumBy(this.orders, { status: 'received'})
                if (amount === true) {
                    return 1
                }

                if (amount > 0) {
                    return amount
                }
                return 0
            },
            inProgressAmount() {
                let amount = _.sumBy(this.orders, { status: 'in-progress'})
                if (amount === true) {
                    return 1
                }

                if (amount > 0) {
                    return amount
                }
                return 0
            },
            readyAmount() {
                let amount = _.sumBy(this.orders, { status: 'ready' })
                if (amount === true) {
                    return 1
                }

                if (amount > 0) {
                    return amount
                }
                return 0
            },
        }
    }
</script>