<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / Stores / {{ store.name }}</h1>
            <hr>
            <div class="row mt-5 m-0">
                <div class="col-7" style="padding-left: 0">
                    <div class="d-flex flex-column align-items-center px-4 pt-2 pb-5 rounded shadow-sm bg-white">
                        <div class="shop-desc-title pb-4 mr-auto">Profil sklepu</div>
                        <div class="mx-auto">
                            <i class="fas fa-store-alt yerba" style="font-size: 48px;"></i>
                        </div>
                        <p class="font-weight-bold mt-2">{{ store.name }}</p>
                        <p class="shop-detail-caption" style="margin-top: -18px; margin-bottom: 25px;">Stworzony {{ store.created_at | moment('DD-MM-YYYY') }}</p>
                        <p class="shop-caption text-capitalize">
                            ul. {{ store.street }}<br>
                            {{ store.postal_code }} {{ store.city }}
                        </p>
                        <div style="width: 100%; padding: 2px;">
                            <hr>
                        </div>
                        <p class="shop-detail-caption yerba font-weight-bold">Managerzy</p>
                        <div class="shop-user" v-for="manager in store.managers" :id="manager.email">
                            <div class="avatar"> {{ manager.name | initials }}</div> {{ manager.name }}
                        </div>
                        <div style="width: 100%; padding: 2px;">
                            <hr>
                        </div>
                        <p class="shop-detail-caption kawa font-weight-bold">Sprzedawcy</p>
                        <div class="shop-user" v-for="seller in store.sellers" :id="seller.email">
                            <div class="avatar"> {{ seller.name | initials }}</div> {{ seller.name }}
                        </div>
                    </div>
                </div>
                <div class="col-5" style="padding-right: 0">
                    <div class="d-flex flex-column align-items-center px-4 py-2 rounded shadow-sm bg-white">
                        <div class="shop-desc-title pb-2 mr-auto">Zamówienia dzisiaj</div>
                        <p class="shop-main-stat-digit">547</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4 px-4 py-2 rounded shadow-sm bg-white">
                        <div class="shop-desc-title pb-2 mr-auto">Zamówione dzisiaj przez aplikację</div>
                        <p class="shop-main-stat-digit">43</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4 px-4 py-2 rounded shadow-sm bg-white">
                        <div class="shop-desc-title pb-2 mr-auto">Całkowity utarg</div>
                        <p class="shop-main-stat-digit">1702,50zł</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4 px-4 py-2 rounded shadow-sm bg-white">
                        <div class="shop-desc-title pb-2 mr-auto">Najwięcej sprzedanych</div>
                        <p class="shop-main-stat-digit">72</p>
                        <div class="shop-desc-title yerba" style="margin-top: -32px; margin-bottom: 16px">Yerba Big</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import StoreService from '@/services/store.service'

    let storeService = new StoreService()
    export default {
        name: 'Store',
        data() {
            return {
                store: {}
            }
        },
        created() {
            this.refreshStore()
        },
        methods: {
            refreshStore() {
                storeService.show(this.$route.params.storeId).then( (response) => {
                    this.store = response.data.data
                    this.$store.dispatch('setCurrentStore', response.data.data)
                })
            }
        }
    }
</script>