// Element UI overrides

.el-select-dropdown__item.is-disabled {
  color: #C0C4CC !important;
  position: relative;
  span {
    &:after {
      position: absolute;
      color: rgba( red, 0.4 );
      right: 10px;
      font-size: 9px;
      font-weight: 100;
      margin-left: auto;
      content: 'ALREADY CHOSEN'
    }
  }
}

.choose-role {
  input {
    text-transform: capitalize;
  }
}