@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

@import 'variables';
@import 'elements/elements';
@import 'components/components';
@import 'modals/modals';
@import 'element-overrides';

#app {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #111;
}

.router-content {
    padding: 32px 16px;
    width: 100%;
    display: flex;
    margin-left: $nav-width;
    min-height: 100vh;
}

hr {
    border-color: rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #aaa;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

p {
    color: #666;
}

.noselect {
    user-select: none; 
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-300 {
    font-weight: 300;
}

.yerba {
    color: $yerba;
}

.herba {
    color: $herba;
}

.kawa {
    color: $kawa;
}

.dash-on-end {
    &:after {
        content: ' /\00a0';
    }
    &:last-child {
        &:after {
            content: '';
        }
    }
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
    overflow: hidden;
    .bg {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.bg-eee {
    background: #eee;
}

.blur {
    //filter: blur(1px);
}

.v--modal-box {
    padding: 30px;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

#app *:not([lds-ellipsis]):not(.single-order-status):not(.button):not(img):not(.user-name):not(button):not(.login-page):not(.sidebar):not(.router-content) {
    animation: slide-up 0.4s;
}

.toasted-success {
    background: $yerba !important;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.toasted-error {
    background: $herba !important;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}