.confirm-user-delete-modal {
  h3 {
    font-size: 18px;
    color: #666;
  }
  .content {
    font-size: 14px;
    color: #666;
  }
}

.admin-user {
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 24px 8px;
  width: 300px;
  height: 100px;
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  opacity: 0.9;
  margin: 12px;
  transition: 0.1s;
  font-size: 14px;
  p {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
  }
  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 1;
  }
  .avatar {
    height: 60px;
    width: 60px;
  }
}

.user-rank {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  &.admin {
    color: $herba;
  }
  &.manager {
    color: $yerba;
  }
  &.seller {
    color: $kawa;
  }
}