.admin-stores-list {
}

.choose-store-all-stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-store {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 160px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  color: #777;
  margin: 12px;
  position: relative;
  transition: 0.15s;
  &.choose-store {
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      transform: translate(0, -3px);
      opacity: 1;
    }
  }
  p {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
  }
  .store-footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
    .button-wrapper {
      margin-top: 12px;
      display: flex;
      margin-left: -12px;
      width: 100%;
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 35px;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        transition: 0.15s;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
        &.edit {
          background: $yerba;
        }
        &.emulate {
          background: $kawa;
          color: #000;
        }
      }
    }
  }
}
