.customer-orders {
  background: #222;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  .header {
    background: $kawa;
    color: #222;
    font-size: 48px;
    text-align: center;
    font-weight: 800;
    padding: 64px 0;
    text-transform: uppercase;
    h2 {
      margin-top: -16px;
      font-size: 28px;
      letter-spacing: 3.7px;
      font-weight: 100;
    }
  }
  .orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    .order {
      width: 100%;
      display: grid;
      &:first-child {
        margin-top: 16px;
      }
      .single-order {
        display: flex;
        margin: 16px 32px;
        padding: 12px 48px;
        flex-grow: 1;
        align-items: center;
        .order-number {
          flex-grow: 1;
          font-size: 72px;
          font-weight: 800;
        }
        .order-status {
          flex-grow: 3;
          text-align: center;
          font-size: 24px;
          text-transform: uppercase;
        }
        &.ready {
          color: #222;
          background: $kawa;
        }
        &.in-progress {
          color: $kawa;
          border: 6px dashed $kawa;
        }
        &.received {
          color: #eee;
          border: 6px dashed #eee;
        }
      }
    }
  }
}