.history {
    width: 100%;
    .history-headline {
        padding: 0px 24px;
        display: flex;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 800;
        .title-field {
            &:first-child {
                text-align: left;
                flex-grow: 1;
            }
            text-align: right;
            flex-basis: 15%;
        }
    }
    .history-day {
        padding: 15px 24px;
        margin: 5px 0 10px 0;
        border-radius: 6px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
        display: flex;
        font-weight: 100;
        background: #fff;
        border-left: 5px solid transparent;
        transition: 0.2s;
        &:first-child {
            background: green !important;
            margin-top: 0px !important;
        }
        .field {
            &:first-child {
                text-align: left;
                flex-grow: 1;
            }
            text-align: right;
            flex-basis: 15%;
        }
    }
}

.history-picker {
    width: 350px;
    margin-top: 30px;
    input {
        font-weight: 600;
        color: #666;
        padding: 6px;
    }
}
