.login-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background: linear-gradient(-45deg, $kawa, darken($kawa, 10), $kawa);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #111;
  flex-direction: column;
  .logo {
    margin-top: 21px;
    width: 150px;
    height: auto;
  }
  .box {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: auto;
    .login-form {
      height: 500px;
      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
        text-align: center;
        color: #000;
      }
      h2 {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 100;
        text-align: center;
      }
    }
    .input-wrapper {
      margin: 10px 0px;
    }
    .confirm-button {
      margin-top: 32px;
      background: rgba(#111, 0.8);
      color: #fff;
      border: 0;
      text-transform: uppercase;
      font-weight: 700;
      padding: 6px 0;
      border-radius: 3px;
      letter-spacing: 2px;
      cursor: pointer;
      transition: 0.2s;
      &.disabled {
        opacity: 0.3;
        cursor: default;
      }
      &:focus {
        outline: none;
      }
    }
    input {
      background: rgba(#fff, 0.75);
      border: 0;
      border-radius: 4px;
      height: 42px;
      font-size: 21px;
      transition: 0.15s;
      padding: 0px 8px;
      &:active, &:focus {
        background: rgba(#fff, 1);
      }
    }
    label {
      color: #111;
      margin-bottom: 2px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.error-blink {
  animation: image-flicker 3s infinite !important;
}

@keyframes image-flicker {
  0% {
    opacity:0.1;
  }

  2% {
    opacity:1;
  }
  8% {
    opacity:0.1;
  }
  9% {
    opacity:1;
  }
  12% {
    opacity:0.1;
  }
  20% {
    opacity:1;
  }
  25% {
    opacity:0.3;
  }
  30% {
    opacity:1;
  }

  70% {
    opacity:0.7;
  }

  72% {
    opacity:0.2;
  }

  77% {
    opacity:.9;
  }
  100% {
    opacity:.9;
  }
}
