.order-box {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    text-align: center;
    background: #fff;
    h1 {
        color: #ccc;    
        padding-top: 15px;
        font-size: 21px;
        text-align: center;
    }
    .button-order {
        @extend .button-main;
        width: 90%;
        color: #fff;
        background: $yerba;
    }
    .order-single-product {
        margin: 20px 20px;
    }
}

.order-single-product {
    color: #999;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    .left-desc-part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .product-name {
            font-size: 12px;
            font-weight: 400;
            margin-top: -6px;
        }
        .remove-product {
            background: rgba($herba, 0.5);
            color: #fff;
            padding: 3px 12px;
            cursor: pointer;
            margin-top: 5px;
            font-weight: 700;
            font-size: 11px;
            text-transform: uppercase;
        }
        .product-size {
            font-size: 12px;
            font-weight: 500;
        }
    }
    .right-desc-part {
        display: flex;
        align-self: center;
        user-select: none;
        .change-amount {
            font-size: 21px;
            font-weight: 600;
            align-self: flex-end;
            width: 100px;
            .subtract, .add {
                margin: 0px 5px;
                cursor: pointer;
                color: #999;
                transition: 0.1s;
                padding: 0px 5px;
                font-size: 26px;
            }
            .digit {
                font-weight: 300;
                padding-left: 2px;
                border-bottom: 1px dotted #ccc;
            }
        }
        .price-box {
            font-weight: 600;
            align-self: flex-end;
            text-align: right;
            width: 70px;
        }
    }
}

.order-status-header {
    text-align: center;
    color: #999;
    padding: 15px 0px;
    font-size: 28px;
    h2 {
        color: #ccc;
        font-weight: 700;
        text-transform: uppercase;
        .certain-orders-amount {
            color: rgba(#000, 0.5);
            font-weight: 100;
        }
    }
}

.single-order-status {
    cursor: pointer;
    border: 1px solid #eee;
    border-left: 6px solid #ccc;
    padding: 14px;
    background: #fff;
    transition: 0.2s;
    h2 {
        color: #ccc;
        font-size: 21px;
    }
    h4 {
        color: #aaa;
        font-size: 15px;
        margin: 0px;
    }
    hr {
        margin: 0.5rem 0;
    }

    .order-single-product {
        margin: 0;
        padding-bottom: 6px;
        padding-top: 6px;
        border-bottom: 1px dashed rgba(#000, 0.1);
        .left-desc-part {
            .product-name {
                font-size: 13px;
                margin-top: -2px;
                font-weight: 500;
            }
        }
        .right-desc-part {
            align-self: flex-end;
            .change-amount {
                width: 70px;
                margin: 0;
                text-align: right;
                font-size: 18px;
            }
        }
        &:first-of-type {
            padding-top: 0;
        }
    }
    .footer {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
    }
    .button-mark-as {
        @extend .button-main;
        margin-top: 20px;
        width: 100%;
        transition: 0.2s;
    }
    .in-progress {
        background-color: #ccc;
        color: #fff;
    }
    .ready {
        background-color: $kawa;
        color: #fff;
    }
    .taken {
        background-color: $yerba;
        color: #fff;
    }
}

.orders-in-progress {
    border-left-color: $kawa;
    h2 {
        color: $kawa;
    }
}

.orders-ready {
    border-left-color: $yerba;
    h2 {
        color: $yerba;
    }
}

.lack-of-orders-warning {
    font-weight: 200;
    text-align: center;
    color: #999;
}

.no-products {
    position: relative;
    &:after {
        position: absolute;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        content: 'Dodaj produkt do zamówienia.';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    .button-order {
        background: rgba($yerba, 0.3);
    }
    .order-total-price {
        color: rgba($yerba, 0.6);
    }
}