.confirm-profile-changes {
    @extend .button-main;
    background: none;
    color: #999;
    border: 1px solid #999;
    transition: 0.2s;
    float: right;
    margin-top: 50px;
    &:hover {
        color: #fff;
        background: #999;
    }
}