.product-box {
    min-height: 160px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 15px 0;
    padding: 20px;
    text-align: left;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    .volumes, .prices, .ingredients {
        display: flex;
        font-size: 14px;
        color: #aaa;
        font-weight: 300;
    }
    .ingredients {
        font-size: 12px;
        text-transform: uppercase;
    }
}

.border-yerba {
    &:hover {
        transform: translateX(2px);
        border-left: 4px solid $yerba;
    }
}

.border-herba {
    &:hover {
        transform: translateX(2px);
        border-left: 4px solid $herba;
    }
}

.border-kawa {
    &:hover {
        transform: translateX(2px);
        border-left: 4px solid $kawa;
    }
}
