.sidebar {
    position: fixed;
    min-width: $nav-width;
    max-width: $nav-width;
    height: 100vh;
    background: linear-gradient(-45deg, #222, #111, #222);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    .nav-logo-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        img {
            width: 110px;
            height: 110px;
            opacity: 0.1;
        }
        .user-name {
            font-size: 14px;
            font-weight: 800;
            margin-top: 10px;
            text-align: center;
        }
        .user-role {
            font-size: 13px;
            font-weight: 100;
            margin-top: -5px;
            color: $kawa;
        }
    }
    .middle-nav {
        display: flex;
        flex-direction: column;
        margin: 30px 0 auto 0;
    }
    a {
        position: relative;
        text-align: center;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 15px 10px;
        color: rgba(#fff, 0.2);
        cursor: pointer;
        transition: 0.1s;
        &:hover, .router-link-active {
            text-decoration: none;
            color: #fff;;
        }
      .nav-icon {
        font-size: 28px;
      }
    }
    .router-link-exact-active {
        text-decoration: none;
        color: $kawa;
        &:hover {
            color: $kawa;
        }
    }
    .logout-link {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        color: $herba;
    }
}

.user-vouchers {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 100;
  color: #999;
  margin-top: -10px;
}