.shop-desc-title {
  font-size: 14px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
}

.shop-detail-caption {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
}

.shop-caption {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

.shop-user {
  font-size: 11px;
  margin: 4px 0 4px -18px;
  display: flex;
  color: #666;
  align-items: center;
  .avatar {
    width: 26px;
    height: 26px;
  }
}

.shop-main-stat-digit {
  font-size: 56px;
}