.store-details {
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 100%;
  height: 100%;
}

.single-stat {
  margin: 15px;
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
  &:first-of-type {
    margin-left: 0;
  }
}