$first-col-width: 150px;
.user-list {
  flex-grow: 1;
  .headline {
    display: flex;
    .title-field {
      flex-grow: 1;
    }
  }
  .headline {
    display: flex;
    padding: 0px 24px 0px 20px;
    .title-field {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      color: #aaa;
      &:first-child {
        justify-content: flex-start;
        flex-basis: $first-col-width;
      }
    }
  }
  .single-user {
    display: flex;
    padding: 12px 24px;
    margin: 10px 0px;
    background: #fff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    background: rgb(253, 253, 253);
    border-radius: 6px;
    color: #555;
    border-left: 0px solid transparent;
    transition: 0.2s;
    .field {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      flex-basis: 0;
      flex-grow: 1;
      padding: 4px 0px;
      z-index: 9;
      font-weight: 200;
      word-break: break-all;
      .title {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        max-width: 200px;
      }
      &:first-child {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        flex-basis: $first-col-width;
        font-weight: 600;
        position: relative;
        &:after {
          position: absolute;
          right: 0;
          content: ' ';
          width: 40px;
          height: 100%;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
        }
      }
    }
  }
}

.avatar {
  width: 40px;
  color: #555;
  height: 40px;
  margin: 0px 10px;
  overflow: hidden;
  background: #ddd;
  border-radius: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.button-user-edit {
  padding: 6px 20px;
  font-size: 11px;
  color: #fff;
  background: #666;
}

.button-new-user {
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
  background: $yerba;
}
