<template>
    <modal name="confirm-delete-user-modal" height="auto">
        <div class="modal-product-box confirm-user-delete-modal ">
            <div>
                <h3 class="font-weight-bold">Usuń użytkownika</h3>
            </div>
            <div></div>
            <div class="mt-3 content">
                <span class="font-weight-light">Czy na pewno chcesz usunąć użytkownika:</span> {{ user.name }} ({{ user.email }})?
                <p class="font-weight-light mt-4">Jeśli tak, wpisz jego adres email i zatwierdź.</p>
                <div class="input-wrapper" :class="{ 'green-border': areMailsTheSame }">
                    <input class="main-input full-width" type="text" id="email" name="email" v-model="email" autocomplete="off" autocorrect="off" spellcheck="false">
                    <label class="input-title" for="email">Email</label>
                </div>
            </div>
            <div class="footer w-full">
                <div>
                    <button class="button-cancel" @click="closeModal()">Wróć</button>
                </div>
                <div class="ml-auto">
                    <button class="button-disabled" :class="{ 'button-add-product': areMailsTheSame }" :disabled="!areMailsTheSame" @click="deleteUser()">Usuń użytkownika</button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import bus from '@/bus'
    import UserService from '@/services/user.service'

    let userService = new UserService()
    export default {
        name: 'AdminConfirmDeleteUserModal',
        data() {
            return {
                user: {},
                email: ''
            }
        },
        created() {
            bus.$on('user-delete-confirmed', (user) => {
                this.user = user
                this.$modal.show('confirm-delete-user-modal')
            })
        },
        computed: {
            areMailsTheSame() {
                return this.user.email === this.email
            }
        },
        methods: {
            deleteUser() {
                if (this.areMailsTheSame) {
                    userService.delete(this.user.id).then( (response) => {
                        if (response.data) {
                            this.closeModal()
                            this.$toasted.show('Użytkownik został usunięty.')
                            this.$router.push('/admin/users')
                        }
                    })
                }
            },
            closeModal() {
                this.$modal.hide('confirm-delete-user-modal')
            }
        },
    }
</script>