<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / Użytkownicy</h1>
            <hr>
            <div class="d-flex mt-2">
                <div class="input-wrapper" style="margin: 0;">
                    <div class="search-wrapper">
                        <i class="fas fa-search search-input-icon"></i>
                        <input class="search-input" type="text" id="search" name="search" placeholder="Search" v-model="search" autocomplete="off" autocorrect="off" spellcheck="false">
                    </div>
                </div>
                <div class="ml-auto">
                    <button class="button-main button-new-user" @click="redirectToCreateNewUser()">Dodaj użytkownika</button>
                </div>
            </div>
            <hr>
            <div class="d-flex row mt-2" style="clear: both;">
                <admin-user v-for="user in searchUsers" :key="user.email" :user="user" @click="redirectToEditUser(user.id)"></admin-user>
            </div>
        </div>
    </div>
</template>

<script>
    import AdminUser from './AdminUser'
    import UserService from '@/services/user.service'

    let userService = new UserService()
    export default {
        name: 'AdminUsersList',
        components: { AdminUser },
        data() {
            return {
                users: [],
                search: '',
                searchUsers: [],
                searchOptions: {
                    threshold: 0.4,
                    keys: ['name', 'email', 'role']
                }
            }
        },
        created() {
            this.refreshUsers()
        },
        methods: {
            refreshUsers() {
                userService.index().then( (response) => {
                    this.users = response.data.data
                    this.searchUsers = response.data.data
                })
            },
            redirectToCreateNewUser() {
                this.$router.push('/admin/users/new')
            },
            redirectToEditUser(id) {
                this.$router.push('/admin/users/' + id)
            }
        },
        watch: {
            search(value) {
                this.$search(value, this.users, this.searchOptions).then(results => {
                    if (results.length > 0) {
                        this.searchUsers = results
                    } else {
                        this.searchUsers = this.users
                    }
                })
            }
        }
    }
</script>