<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / Sklepy</h1>
            <hr>
            <div class="d-flex mt-2">
                <div class="input-wrapper" style="margin: 0;">
                    <div class="search-wrapper">
                        <i class="fas fa-search search-input-icon"></i>
                        <input class="search-input" type="text" id="search" name="search" placeholder="Search" v-model="search" autocomplete="off" autocorrect="off" spellcheck="false">
                    </div>
                </div>
                <div class="ml-auto">
                    <button class="button-main button-new-user" @click="redirectToCreateNewStore()">Dodaj Sklep</button>
                </div>
            </div>
            <hr>
            <div class="row mt-5">
                <admin-store v-for="store in searchStores" :key="store.name" :store="store"></admin-store>
            </div>
        </div>
    </div>
</template>

<script>
    import AdminStore from './AdminStore'
    import StoreService from '@/services/store.service'

    let storeService = new StoreService()
    export default {
        name: 'AdminStoresList',
        components: { AdminStore },
        data() {
            return {
                stores: [],
                searchStores: [],
                searchOptions: {
                    threshold: 0.4,
                    keys: ['name', 'street', 'city']
                },
                search: ''
            }
        },
        created() {
            this.refreshStores()
        },
        methods: {
            refreshStores() {
                storeService.index().then((response) => {
                    this.stores = response.data.data
                    this.searchStores = response.data.data
                })
            },
            redirectToCreateNewStore() {
                this.$router.push('/admin/stores/new')
            },
        },
        watch: {
            search(value) {
                this.$search(value, this.stores, this.searchOptions).then(results => {
                    if (results.length > 0) {
                        this.searchStores = results
                    } else {
                        this.searchStores = this.stores
                    }
                })
            }
        }
    }
</script>