<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / Users / Edytuj Użytkownika</h1>
            <hr>
            <div class="mt-2">
                <button class="button-cancel" @click="back()"><i class="fas fa-arrow-left mr-2"></i> Powrót do listy</button>
            </div>
            <hr>
            <div class="d-flex row mt-2 mx-1 shadow-sm rounded" style="background: #fff;">
                <div class="d-flex flex-column px-5 py-4">
                    <div class="d-flex flex-column">
                        <div class="input-wrapper">
                            <input class="main-input" type="text" id="name" name="name" v-model="user.name" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="name">Imię i nazwisko<span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input full-width" type="text" id="email" name="email" v-model="user.email" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="email">Email <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="password" id="password" name="password" value="" autocomplete="off" autocorrect="off" spellcheck="false" v-model="user.password">
                            <label class="input-title" for="password">Nowe hasło <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="password" id="confirm_password" name="confirm_password" value="" autocomplete="off" autocorrect="off" spellcheck="false" v-model="user.password_confirmation">
                            <label class="input-title" for="confirm_password">Potwierdź nowe hasło <span style="color: red">*</span></label>
                        </div>
                    </div>
                    <hr>
                    <div class="footer">
                        <button v-on="areFieldsUpdate ? { click: updateUser} : {}" class="" :class="!areFieldsUpdate ? 'button-disabled' : 'button-confirm-order'">Zaktualizuj</button>
                        <button class="button-cancel ml-5" @click="showConfirmDeleteModal()">Usuń</button>
                    </div>
                </div>
            </div>
        </div>
        <admin-confirm-delete-user-modal></admin-confirm-delete-user-modal>
    </div>
</template>

<script>
    import bus from '@/bus'
    import AdminConfirmDeleteUserModal from './AdminConfirmDeleteUserModal'
    import UserService from '@/services/user.service'

    let userService = new UserService()
    export default {
        name: 'AdminEditUser',
        components: {
            AdminConfirmDeleteUserModal
        },
        data() {
            return {
                user: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
              oldUser: {
                  name: '',
                  email: ''
              }
            }
        },
      created() {
            this.refreshUser()
        },
        computed: {
          areFieldsUpdate() {
            console.log(this.oldUser.name);
            if (typeof this.user.password !== 'undefined' && this.user.password === this.user.password_confirmation || this.oldUser.name !== this.user.name || this.oldUser.email !== this.user.email) {
              return true;
            } else {
              return false
            }
          }
        },
      methods: {
            refreshUser() {
                userService.show(this.$route.params.userId).then( (response) => {
                    this.user = response.data.data
                    this.oldUser.name = this.user.name;
                    this.oldUser.email = this.user.email;
                })
            },
            updateUser() {
                userService.update(this.user).then( (response) => {
                    if (response.data) {
                        this.$toasted.show('Dane użytkownika zostaly zmienione.')
                    }
                })
            },
            showConfirmDeleteModal() {
                bus.$emit('user-delete-confirmed', this.user)
            },
            back() {
                this.$router.push('/admin/users')
            }
        }
    }
</script>
