<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / Stores / Nowy Sklep</h1>
            <hr>
            <div class="mt-2">
                <button class="button-cancel" @click="back()"><i class="fas fa-arrow-left mr-2"></i> Powrót do listy</button>
            </div>
            <hr>
            <div class="d-flex row mt-2 mx-1 shadow-sm rounded" style="background: #fff;">
                <div class="col-6 d-flex flex-column px-5 py-4">
                    <div class="d-flex flex-column">
                        <div class="input-wrapper">
                            <input class="main-input" type="text" id="name" name="name" v-model="store.name" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="name">Nazwa sklepu <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="text" id="street" name="street" v-model="store.street" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="street">Ulica <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="text" id="city" name="city" v-model="store.city" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="city">Miasto <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="text" id="postal_code" name="postal_code" v-model="store.postal_code" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="postal_code">Kod Pocztowy <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="text" id="coordinate_x" name="coordinate_x" v-model="store.coordinate_x" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="coordinate_x">Współrzędne X </label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="text" id="coordinate_y" name="coordinate_y" v-model="store.coordinate_y" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="coordinate_y">Współrzędne Y </label>
                        </div>
                    </div>
                    <hr>
                    <div class="footer">
                        <button class="button-confirm-order" @click="createStore()">Stwórz sklep</button>
                    </div>
                </div>
                <div class="col-6 px-5 py-4 d-flex flex-column">
                    <div>
                        <p class="font-weight-bold">Managerowie:</p>
                        <el-select v-model="chosenManager" @change="updateChosenManager(chosenManager)" clearable filterable placeholder="Select">
                            <el-option
                                    v-for="manager in allManagers"
                                    :key="manager.id"
                                    :label="manager.name"
                                    :disabled="checkIfManagerIsAlreadyAdded(manager)"
                                    :value="manager">
                            </el-option>
                        </el-select>
                        <div class="mt-4">
                            <el-tag class="mr-3 mb-3" :key="manager.id" v-for="manager in store.managers" closable :disable-transitions="false" @close="removeManagerFromList(manager)">
                                {{ manager.name }}
                            </el-tag>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <hr>
                    </div>
                    <div>
                        <p class="font-weight-bold">Sprzedawcy:</p>
                        <el-select v-model="chosenSeller" @change="updateChosenSeller(chosenSeller)" clearable filterable placeholder="Select">
                            <el-option
                                    v-for="seller in allSellers"
                                    :key="seller.id"
                                    :label="seller.name"
                                    :disabled="checkIfSellerIsAlreadyAdded(seller)"
                                    :value="seller">
                            </el-option>
                        </el-select>
                        <div class="mt-4">
                            <el-tag class="mr-3 mb-3" :key="seller.id" v-for="seller in store.sellers" closable :disable-transitions="false" @close="removeSellerFromList(seller)">
                                {{ seller.name }}
                            </el-tag>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import StoreService from '@/services/store.service'
    import UserService from '@/services/user.service'

    let userService = new UserService()
    let storeService = new StoreService()
    export default {
        name: 'AdminEditStore',
        data() {
            return {
                store: {
                    name: '',
                    street: '',
                    city: '',
                    postal_code: '',
                    coordinate_x: '',
                    coordinate_y: '',
                    managers: [],
                    sellers: []
                },
                allManagers: [],
                allSellers: [],
                chosenManager: {},
                chosenSeller: {}
            }
        },
        created() {
            this.refreshSellers()
            this.refreshManagers()
        },
        methods: {
            refreshManagers() {
                userService.indexManagers().then( (response) => {
                    this.allManagers = response.data.data
                })
            },
            refreshSellers() {
                userService.indexSellers().then( (response) => {
                    this.allSellers = response.data.data
                })
            },
            createStore() {
                storeService.create(this.store).then( (response) => {
                    if (response.data) {
                        let store = response.data.data
                        this.$toasted.show('Dane sklepu zostaly zmienione.')
                        this.$router.push('/admin/stores/' + store.id)
                    }
                })
            },
            updateChosenSeller(seller) {
                if (seller) {
                    this.store.sellers.push(seller)
                }
            },
            checkIfSellerIsAlreadyAdded(seller) {
                return !!_.find(this.store.sellers, { email: seller.email });

            },
            removeSellerFromList(seller) {
                _.remove(this.store.sellers, { email: seller.email })
                this.$forceUpdate()
            },
            updateChosenManager(manager) {
                if (manager) {
                    this.store.managers.push(manager)
                }
            },
            checkIfManagerIsAlreadyAdded(manager) {
                return !!_.find(this.store.managers, { email: manager.email });

            },
            removeManagerFromList(manager) {
                _.remove(this.store.managers, { email: manager.email })
                this.$forceUpdate()
            },
            back() {
                this.$router.push('/admin/stores')
            }
        }
    }
</script>