<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / Users / Nowy Użytkownik</h1>
            <hr>
                <div class="mt-2">
                    <button class="button-cancel" @click="back()"><i class="fas fa-arrow-left mr-2"></i> Powrót do listy</button>
                </div>
            <hr>
            <div class="d-flex row mt-2 shadow-sm rounded" style="background: #fff">
                <div class="d-flex flex-column px-5 py-4">
                    <div class="d-flex flex-column">
                        <div class="input-wrapper">
                            <input class="main-input" type="text" id="name" name="name" v-model="user.name" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="name">Imię i nazwisko<span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input full-width" type="text" id="email" name="email" v-model="user.email" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="email">Email <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="password" id="password" name="password" value="" autocomplete="off" autocorrect="off" spellcheck="false" v-model="user.password">
                            <label class="input-title" for="password">Hasło <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="password" id="confirm_password" name="confirm_password" value="" autocomplete="off" autocorrect="off" spellcheck="false" v-model="user.password_confirmation">
                            <label class="input-title" for="confirm_password">Potwierdź hasło <span style="color: red">*</span></label>
                        </div>
                    </div>
                    <hr>
                    <div class="footer">
                        <button class="button-confirm-order" @click="createUser()">Stwórz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import UserService from '@/services/user.service'

    let userService = new UserService()
    export default {
        name: 'AdminNewUser',
        data() {
            return {
                user: {
                    name: '',
                    password: '',
                    password_confirmation: '',
                    email: '',
                },
            }
        },
        methods: {
            createUser() {
                userService.store(this.user).then( (response) => {
                    const userId = response.data.data.id
                    this.$router.push('/admin/users/' + userId)
                    this.$toasted.show('Użytkownik został pomyślnie dodany.')
                })
            },
            back() {
                this.$router.push('/admin/users')
            }
        }
    }
</script>