<template>
    <div>
        <div class="admin-store">
            {{ store.name }}
            <p>Założony {{ store.created_at | moment('DD-MM-YYYY') }}</p>
            <div class="store-footer">
                <p>Manager: <span v-for="manager in store.managers"> {{ manager.name }} </span></p>
                <p>Pracownicy: {{ store.sellers.length }}</p>
                <div class="button-wrapper">
                    <div class="button emulate" @click="emulate()">Emuluj</div>
                    <div class="button edit" @click="edit()">Edytuj</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'AdminStore',
        props: {
            store: {
                type: Object,
                default: () => {}
            }
        },
        methods: {
            emulate() {
                this.$router.push('/stores/' + this.store.id)
            },
            edit() {
                this.$router.push('/admin/stores/' + this.store.id)
            }
        },
    }
</script>