<template>
    <div class="admin-user shadow-sm rounded" @click="redirectToEditUser()">
        <div class="d-flex">
            <div class="">
                <div class="avatar">{{ user.name | initials }}</div>
            </div>
            <div class="d-flex flex-column">
                <div>{{ user.name }}</div>
                <p class="-mt-4">{{ user.email }}</p>
                <div class="user-rank mt-2" :class="user.role">{{ user.role }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'AdminUser',
        props: {
            user: {
                type: Object,
                default: () => {}
            }
        },
        methods: {
            redirectToEditUser() {
                this.$router.push('/admin/users/' + this.user.id)
            }
        },
    }
</script>