<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / Stats</h1>
            <hr>
            <div class="row mt-5">
                <first-chart></first-chart>
                <second-chart></second-chart>
            </div>
        </div>
    </div>
</template>

<script>
    import FirstChart from './Charts/FirstChart'
    import SecondChart from './Charts/SecondChart'

    export default {
        name: 'AdminHome',
        components: { FirstChart, SecondChart }
    }
</script>