<template>
    <modal name="add-single-product" height="auto">
        <div class="modal-product-box">
            <div>
                <h2 :class="nameLoweredCase(product.name)">{{ product.name }}</h2>
                <div class="ingredients">
                    <span style="display: contents; font-weight: 600; font-size: 11px;">składniki:</span> {{ product.desc }}
                </div>
            </div>
            <div></div>
            <div class="mt-3">
                <div class="choose-option" :class="{ 'active': size.active }" v-for="size in product.sizes" :key="size.id" @click="toggleProductSizeField(product, size)">
                    <div class="title"><span class="text-capitalize">{{ size.name }}</span> ({{ size.volume }} ml)</div>
                    <div class="desc">{{ size.price/100 }}zł</div>
                </div>
            </div>
            <div class="footer">
                <div class="change-amount noselect">
                    <div class="element" @click="product.amount > 1 ? product.amount -- : 1">-</div>
                    <div class="amount">{{ product.amount }}</div>
                    <div class="element" @click="product.amount++">+</div>
                </div>
                <div>
                    <button class="button-add-product" @click="addToOrder(product)">Dodaj do koszyka</button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import bus from '@/bus'
    
    export default {
        data() {
            return {
                product: { 
                    name: '',
                }
            }
        },
        methods: {
            toggleProductSizeField(product, size) {
                this.setProductSizesActiveFieldToFalse(product)
                size.active = true
            },
            setProductSizesActiveFieldToFalse(product) {
                _.forEach(product.sizes, (_, size) => {
                    this.$set(product.sizes[size], 'active', false) 
                })
            },
            setProductAmount(product) {
                this.$set(product, 'amount', 1)
            },
            addProductSizeActiveField(product) { 
                this.setProductSizesActiveFieldToFalse(product)
                return product
            },
            leaveOnlySelectedSize(product) {
                let temporaryProduct = JSON.parse(JSON.stringify(product))
                _.remove(temporaryProduct.sizes, (size) => {
                    return size.active == false
                })
                return temporaryProduct
            },
            addToOrder(product) {
                let productSingleSize = this.leaveOnlySelectedSize(product)
                if(productSingleSize.sizes.length === 1) {
                    bus.$emit('order-product-added', productSingleSize)
                }
                this.$modal.hide('add-single-product');
            },
            nameLoweredCase(name) {
                return name.toLowerCase()
            }
        },
        mounted() {
            bus.$on('product-added', (product) => {
                this.setProductAmount(product)
                this.product = this.addProductSizeActiveField(product)
                this.$modal.show('add-single-product')
            })
        },
    }
</script>