<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / {{ storeName }} / Produkty</h1>
            <hr>
            <div class="row mt-5">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12" v-for="product in products" :key="product.id">
                            <div class="product-box rounded shadow-sm" :class="('border-' + nameLoweredCase(product.name))" @click="addProduct(product)">
                                <div>
                                    <h2 :class="nameLoweredCase(product.name)">{{ product.name }}</h2>
                                    
                                    <div class="ingredients">
                                        <span style="display: contents; font-weight: 600; font-size: 11px;">składniki:</span> {{ product.desc }}
                                    </div>
                                </div>
                                <div>
                                    <div class="volumes"><span class="dash-on-end" v-for="size in product.sizes" :key="size.name"> {{ size.volume }}ml</span></div>
                                    <div class="prices"><span class="dash-on-end" v-for="size in product.sizes" :key="size.name"> {{ size.price/100 }}zł</span></div>
                                </div>
                            </div>
                        </div>  
                    </div>         
                </div>
                <div class="col-5">
                    <order></order>
                </div>
            </div>
        </div>
        <add-product-to-order-modal></add-product-to-order-modal>
    </div>
</template>

<script>
    import bus from '@/bus'
    import AddProductToOrderModal from './AddProductToOrderModal'
    import Order from '../Order/Order'
    import ProductService from '@/services/product.service'

    export default {
        components: {
            AddProductToOrderModal,
            Order
        },
        data() {
            return {
                products: []
            }
        },
        created() {
            let productService = new ProductService()
            productService.index().then( (response) => {
                this.products = response.data.data
            })
        },
        computed: {
            storeName() {
                return this.$store.getters.currentStore.name
            },
        },
        methods: {
            addProduct(product) {
                bus.$emit('product-added', product)
            },
            nameLoweredCase(name) {
                return name.toLowerCase()
            },
        },
    }
</script>