.modal-edit-user-box {
  position: relative;
  h1 {
    padding-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
  .input-wrapper {
    margin: 15px 0 5px 0;
    .input-title {
      margin-bottom: 0;
    }
  }
  .main-input {
    width: 200px;
    margin-right: 40px;
    &.full-width {
      width: 440px;
    }
  }
  .footer {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
  }
  select {
    margin-top: 4px;
    background: #fff;
    padding: 2px 10px;
  }
}