.modal-confirm-order-box {
    h1 {
        padding-top: 0;
        margin-bottom: 0;
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
        font-weight: 600;
        color: #aaa;
        text-transform: uppercase;
    }
    .order-single-product {
        margin: 0;
    }
    .change-amount .digit {
        font-size: initial;
    }
    .choose-option {
        flex-direction: row;
        padding-left: 20px;
    }
    .footer {
        display: flex;
        justify-content: space-between;
    }
}

.order-total-price {
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    color: $yerba;
}

.count-change-label {
    font-size: 12px;
    font-weight: 200;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    margin-top: -10px;
}
.input-count-change {
    width: 150px;
    height: 60px;
    border: 0;
    border-bottom: 3px dotted $yerba;
    padding: 12px 12px 0 12px ;
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    transition: 0.15s;
    &:focus {
        outline: none;
    }
}

.count-change-value {
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}

.card-payment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    .info {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: #333;
    }
    .info-success {
        @extend .info;
        color: $yerba;
        margin-top: 38px;
        font-weight: 700;
    }
    .payment-success-icon {
        font-size: 72px;
        color: $yerba;
    }
}

.free-drink-disclaimer {
    color: #999;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: -5px;
    font-weight: 400;
}

.confirm-voucher-apply {
    text-align: center;
    color: #333;
    font-size: 16px;
    margin: 24px 0px;
    font-weight: 400;
}