.choose-option {
    margin-top: 15px;
    padding: 15px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    color: #ccc;
    user-select: none;
    transition: 0.2s;
    cursor: pointer;
    &.active {
        color: $yerba;
        border-color: $yerba;
    }
    .title {
        font-size: 16px;
        font-weight: 300;
        padding-left: 15px;
    }
    .desc {
        @extend .title;
        font-weight: 600;
    }
}

.modal-product-box {
    @extend .product-box;
    border: none;
    box-shadow: none !important;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: default !important;
    &:hover {
        box-shadow: none !important;
    }
    h2 {
        font-size: 36px;
    }
    .footer {
        display: flex;
        align-items: center;
        margin: 30px 0px 10px 0px;
        .change-amount {
            display: flex;
            flex-grow: 1;
            font-size: 40px;
            color: #ccc;
            font-weight: 300;
            .element {
                font-weight: 600;
                width: 30px;
                transition: 0.1s;
                text-align: center;
                cursor: pointer;
                &:hover {
                    color: #999;
                }
            }
            .amount {
                text-align: center;
                width: 50px; 
            }
        }
        .button-add-product {
            @extend .button-main;
            background: $yerba;
            color: #fff;
        }
    }
}