<template>
        <div class="login-page">
            <div class="logo">
                <img src="../assets/logo_black.svg" class="logo error-blink">
            </div>
            <div class="box">
                <div class="login-form text-center">
                    <h1>Error</h1>
                    <h2 style="letter-spacing:0;">Sorry! Contact administrator if this keeps showing.</h2>
                    <button class="button-main bg-white mt-5" @click="goHome()">go home</button>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        name: 'AccessDisallowed',
        methods: {
            goHome() {
                this.$router.push('/')
            }
        }
    }
</script>