<template>
    <div class="login-page">
        <div class="logo">
            <img src="../assets/logo_black.svg" class="logo">
        </div>
        <div class="box">
            <div class="login-form">
                <h2>Wybierz sklep</h2>
                <div class="d-flex flex-column mt-4">
                    <div class="d-flex justify-content-center">
                        <h2 style="background: #fff; padding: 12px 36px; min-width: 350px; font-weight: bold; letter-spacing: 0; margin-bottom: 0;">Sprzedawca</h2>
                    </div>
                    <div class="choose-store-all-stores">
                        <div class="admin-store choose-store" @click="enterToStore(sellerStore)" v-for="sellerStore in user.shops_as_seller">
                            {{ sellerStore.name }}
                            <p>{{ sellerStore.street }},</p>
                            <p>{{ sellerStore.postal_code }} {{ sellerStore.city }}</p>
                            <div class="store-footer mb-2">
                                <p>Manager: <span v-for="manager in sellerStore.managers"> {{ manager.name }} </span></p>
                           </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h2 style="background: #fff; padding: 12px 36px; min-width: 350px; font-weight: bold; letter-spacing: 0; margin-bottom: 0; margin-top: 12px">MANAGER</h2>
                    </div>
                    <div class="choose-store-all-stores">
                        <div class="admin-store choose-store" @click="enterToStore(managerStore)" v-for="managerStore in user.shops_as_manager">
                            {{ managerStore.name }}
                            <p>{{ managerStore.street }},</p>
                            <p>{{ managerStore.postal_code }} {{ managerStore.city }}</p>
                            <div class="store-footer mb-2">
                                <p>Manager: <span v-for="manager in managerStore.managers"> {{ manager.name }} </span></p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <confirm-choose-store-modal></confirm-choose-store-modal>
    </div>
</template>

<script>
    import ConfirmChooseStoreModal from './ConfirmChooseStoreModal'
    import bus from '@/bus'

    export default {
        name: 'ChooseStore',
        components: {
            ConfirmChooseStoreModal
        },
        computed: {
            user() {
                return this.$store.getters.user
            }
        },
        methods: {
            enterToStore(store) {
                bus.$emit('store-entrance-confirmed', store)
            }
        }
    }
</script>