<template>
    <modal name="confirm-choose-store-modal" height="auto" :scrollable="true">
        <div class="modal-confirm-order-box">
            <h1>Potwierdzenie</h1>
            <hr>
            <div class="confirm-voucher-apply">Potwierdź, że chcesz wejść do sklepu <strong>{{ store.name }}</strong>?</div>
            <hr>
            <div class="footer">
                <button class="button-cancel" @click="closeModal()">Anuluj</button>
                <div></div>
                <button class="button-confirm-order" @click="confirmStoreEntrance()">Potwierdzam</button>
            </div>
        </div>
    </modal>
</template>

<script>
    import bus from '@/bus'

    export default {
        name: 'ConfirmChooseStoreModal',
        data() {
            return {
                store: {}
            }
        },
        created() {
            bus.$on('store-entrance-confirmed', (store) => {
                this.store = store
                this.$modal.show('confirm-choose-store-modal')
            })
        },
        methods: {
            closeModal() {
                this.$modal.hide('confirm-choose-store-modal')
            },
            confirmStoreEntrance() {
                this.closeModal()
                this.$router.push('/stores/' + this.store.id)
            }
        }
    }

</script>