<template>
    <div class="container-fluid">
        <h1 class="text-left">Dashboard / {{ storeName }} / Historia</h1>
        <hr>
        <div class="history-picker">
            <v-date-picker
                    mode='range'
                    v-model='selectedDate'
                    @input="refreshHistory"
            >
            </v-date-picker>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div v-if="!emptyHistory">
                    <el-alert
                            title="Brak zamówień"
                            type="warning"
                            :closable="false"
                            description="W wybranym okresie niestety nie pojawiły się żadne zamówienia."
                            show-icon>
                    </el-alert>
                </div>
                <div class="history" v-else>
                    <div class="history-headline">
                        <div class="title-field">Day</div>
                        <div class="title-field">Yerba</div>
                        <div class="title-field">Herba</div>
                        <div class="title-field">Kawa</div>
                    </div>
                    <div class="history-day" v-for="day in groupedProductsPerDay">
                        <div class="field"><span class="font-weight-bold text-capitalize" style="color: #666">{{ day.date | moment('dddd') }}</span>, {{ day.date | moment('DD.MM.YYYY') }}</div>
                        <div class="field">{{ dailyProductTotalAmount(day.products.Yerba) }}</div>
                        <div class="field">{{ dailyProductTotalAmount(day.products.Herba) }}</div>
                        <div class="field">{{ dailyProductTotalAmount(day.products.Kawa) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import OrderService from '@/services/order.service'
    import moment from 'moment'

    let orderService = new OrderService()
    export default {
        components: {
        },
        data() {
            return {
                groupedProductsPerDay: [],
                selectedDate: {
                    start: new Date(new Date() - (13 * 86400000)),
                    end: new Date(new Date().getTime() + 86400000)
                }
            }
        },
        created() {
            this.refreshHistory()
        },
        computed: {
            storeName() {
                return this.$store.getters.currentStore.name
            },
            emptyHistory() {
                return this.groupedProductsPerDay.length
            }
        },
        methods: {
            refreshHistory() {
                let parsedStartDate = moment(this.selectedDate.start).format("MM-DD-YYYY")
                let parsedEndDate = moment(this.selectedDate.end).format("MM-DD-YYYY")

                this.groupedProductsPerDay = []
                orderService.history(this.$route.params.storeId, parsedStartDate, parsedEndDate).then( (response) => {
                    this.groupedProductsPerDay = response.data.grouped_products_by_day
                })
            },
            dailyProductTotalAmount(product) {
                let totalProducts = 0
                for (let key in product) {
                    totalProducts += product[key]
                }
                return totalProducts
            }
        }
    }
</script>