<template>
    <div class="login-page">
        <div class="logo">
            <img src="../assets/logo_black.svg" class="logo">
        </div>
        <div class="box">
            <div class="login-form">
                <h2>Panel Logowania</h2>
                <div class="d-flex flex-column mt-4">
                    <div class="input-wrapper">
                        <input @keyup.enter="login()" class="main-input full-width" v-model="email" type="text" id="email" name="email" autocomplete="off" autocorrect="off" spellcheck="false">
                        <label class="input-title" for="email">Email</label>
                    </div>
                    <div class="input-wrapper">
                        <input @keyup.enter="login()" class="main-input full-width" v-model="password" type="password" id="password" name="password" autocomplete="off" autocorrect="off" spellcheck="false">
                        <label class="input-title" for="password">Password</label>
                    </div>
                    <div class="input-wrapper">
                        <button v-on="isPasswordFill ? { click: login } : {}" class="confirm-button" :class="{ 'disabled': !isPasswordFill }">Enter!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Login',
        data() {
            return {
                email: '',
                password: ''
            }
        },
        computed: {
            isPasswordFill() {
                if (this.password.length > 3) {
                    return true
                }
                return false
            }
        },
        methods: {
            login() {
                let email = this.email
                let password = this.password
                let self = this
                this.$store.dispatch('login', { email, password })
                    .then( () => {
                        if (this.$store.getters.user.role === 'admin') {
                            self.$router.push('/')
                        } else {
                            self.$router.push('/choose-store')
                        }
                    })
                    .catch( (error) => {
                        // console.log(error)
                    })
            }
        }
    }

</script>
