<template>
    <div>
        <div class="container-fluid">
            <h1 class="text-left">Dashboard / Moje konto</h1>
            <hr>
            <div class="d-flex row mt-2 mx-1 shadow-sm rounded" style="background: #fff;">
                <div class="d-flex flex-column px-5 py-4">
                    <div class="d-flex flex-column">
                        <div class="input-wrapper">
                            <input class="main-input disabled" type="text" disabled="disabled" id="name" name="name" v-model="user.name" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="name">Imię i nazwisko</label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input disabled full-width" disabled="disabled" type="text" id="email" name="email" v-model="user.email" autocomplete="off" autocorrect="off" spellcheck="false">
                            <label class="input-title" for="email">Email </label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="password" id="password" name="password" value="" autocomplete="off" autocorrect="off" spellcheck="false" v-model="newUser.password">
                            <label class="input-title" for="password">Nowe hasło <span style="color: red">*</span></label>
                        </div>
                        <div class="input-wrapper">
                            <input class="main-input" type="password" id="confirm_password" name="confirm_password" value="" autocomplete="off" autocorrect="off" spellcheck="false" v-model="newUser.password_confirmation">
                            <label class="input-title" for="confirm_password">Potwierdź nowe hasło <span style="color: red">*</span></label>
                        </div>
                    </div>
                    <hr>
                    <div class="footer">
                        <button v-on="areFieldsUpdate ? { click: updateMyself} : {}" class="" :class="!areFieldsUpdate ? 'button-disabled' : 'button-confirm-order'">Zaktualizuj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import bus from '@/bus'
    import UserService from '@/services/user.service'

    let userService = new UserService()
    export default {
        name: 'MyAccount',
        data() {
            return {
                user: {
                    name: '',
                    email: '',
                },
                newUser: {
                    password: '',
                    password_confirmation: ''
                }
            }
        },
        created() {
            this.refreshUser()
        },
        computed: {
            areFieldsUpdate() {
              if (this.newUser.password !== '' && this.newUser.password === this.newUser.password_confirmation) {
                return true;
              } else {
                return false
              }
          }
        },
        methods: {
            refreshUser() {
                userService.showMe().then( (response) => {
                    this.user = response.data.data
                })
            },
            updateMyself() {
                userService.updateSelf(this.newUser).then( (response) => {
                    if (response.data) {
                        this.$toasted.show('Dane użytkownika zostaly zmienione.')
                    }
                })
            },
        }
    }
</script>
