<template>
    <div class="sidebar">
        <div class="heading">
            <div class="nav-logo-wrapper">
                <img src="../assets/logo.svg">
                <h2 class="user-name">{{ username }}</h2>
                <h2 class="user-role">#{{ displayRole }}</h2>
            </div>
        </div>
        <div class="middle-nav">
            <template v-if="storeId">
                <router-link :to="'/stores/' + storeId">
                    <i class="fas fa-store nav-icon"></i>
                    <div class="nav-title">Sklep</div>
                </router-link>
                <router-link :to="'/stores/' + storeId + '/products'">
                    <i class="fas fa-plus nav-icon"></i>
                    <div class="nav-title">Nowe zamówienie</div>
                </router-link>
                <router-link :to="'/stores/' + storeId + '/orders'">
                    <i class="fas fa-list-ul nav-icon"></i>
                    <div class="nav-title">Lista zamówień</div>
                </router-link>
                <router-link :to="'/stores/' + storeId + '/history'" v-if="isAdmin || isStoreManager">
                    <i class="fas fa-folder nav-icon"></i>
                    <div class="nav-title">Historia zamówień</div>
                </router-link>
                <router-link :to="'/stores/' + storeId + '/my-account'" v-if="!isAdmin">
                    <i class="fas fa-user nav-icon"></i>
                    <div class="nav-title">Moje konto</div>
                </router-link>
<!--                <router-link :to="'/stores/' + storeId + '/users'" v-if="role === 'admin'">-->
<!--                    <i class="fas fa-user-friends nav-icon"></i>-->
<!--                    <div class="nav-title">Lista Użytkowników</div>-->
<!--                </router-link>-->
                <router-link to="/admin/stores" v-if="isAdmin">
                    <i class="fas fa-wrench nav-icon"></i>
                    <div class="nav-title">Panel Admina</div>
                </router-link>
            </template>
            <template v-else>
<!--                <router-link to="/admin">-->
<!--                    <i class="fas fa-home nav-icon"></i>-->
<!--                    <div class="nav-title">Home</div>-->
<!--                </router-link>-->
                <router-link to="/admin/stores">
                    <i class="fas fa-store nav-icon"></i>
                    <div class="nav-title">Sklepy</div>
                </router-link>
                <router-link to="/admin/users">
                    <i class="fas fa-user-friends nav-icon"></i>
                    <div class="nav-title">Użytkownicy</div>
                </router-link>
            </template>
        </div>
        <div class="logout-link">
            <a @click="logout()">
                <i class="fas fa-sign-out-alt nav-icon"></i>
                <div class="nav-title">Wyloguj</div>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Navbar',
        methods: {
            logout() {
                this.$store.dispatch('logout').then(() => {
                    this.$router.push('/login') // troche po januszowsku mozna to by bylo do stora wrzucic
                    this.$store.commit('logout')
                })
            }
        },
        computed: {
            username() {
                return this.$store.getters.user.name
            },
            role() {
                return this.$store.getters.user.role
            },
            isAdmin() {
                return this.role === 'admin'
            },
            isStoreManager() {
                return typeof (_.find(this.$store.getters.currentStore.managers, { id: this.$store.getters.user.id })) !== 'undefined'
            },
            displayRole() {
                if (this.role === 'admin') {
                    return 'naczelnyYerbacz'
                } else {
                    return 'yerbacz'
                }
            },
            storeId() {
                return this.$route.params.storeId
            },
        }
    }
</script>