.button-main {
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer !important;
    &:focus {
        outline: none;
    }
}

.main-input {
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #eee;  
    transition: 0.2s;
    color: #333;
    width: 400px;
    &:focus {
        outline: none;
        border-bottom: 2px solid #999;
    }
    &:focus + label {
        color: #333;
    }
    &.disabled {
        margin-top: -10px;
        background: #fff;
        border-bottom: 0;
    }
}

.input-wrapper {
    position: relative;
    margin: 6px 0 20px 0;
    display: flex;
    flex-direction: column-reverse;
    .input-title {
        font-size: 13px;
        color: #ccc;
        font-weight: 600;
        transition: 0.2s;
    }
    &.green-border {
        .main-input {
            color: $yerba;
            border-bottom: 1px solid $yerba;
            &:focus {
                border-bottom: 2px solid $yerba;
            }
            &:focus + label {
                color: $yerba;
            }
        }
        .input-title, label{
            color: $yerba !important;
        }
    }
}

.search-wrapper {
    position: absolute;
}

.search-input {
    background: #fff;
    box-shadow: 0 4px 4px #ccc;
    padding: 8px 6px 8px 36px;
    font-weight: 600;
    color: #333;
    transition: 0.2s;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: #aaa;
    }
}

.search-input-icon {
    z-index: 99;
    position: absolute;
    left: 12px;
    top: 12px;
    color: #aaa;
}

.button-cancel {
    @extend .button-main;
    background: none;
    color: #999;
    padding-left: 10px;
}

.button-disabled {
    @extend .button-main;
    background: #999;
    color: #fff;
    cursor: default !important;
    transition: 0.2s;
}

.button-confirm-order {
    @extend .button-main;
    transition: 0.2s;
    cursor: pointer !important;
    background: $yerba;
    color: #fff;
}
