<template>
  <div id="app" class="d-flex" :class="{ 'bg-eee position-relative': isLoggedIn }">
    <transition name="fade">
      <div class="loading" v-if="loading">
        <div class="bg">
          <sync-loader :loading="loading" :color="color" :size="size"></sync-loader>
        </div>
      </div>
    </transition>
    <template v-if="isLoggedIn">
      <navbar :class="{ 'blur': loading }"></navbar>
      <div class="router-content">
        <router-view :class="{ 'blur': loading }" style="width: 100%"></router-view>
      </div>
    </template>
    <template v-else>
      <router-view :class="{ 'blur': loading }" style="width: 100%"></router-view>
    </template>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
import bus from '@/bus'
import UserService from '@/services/user.service'

let userService = new UserService()
export default {
  components: { Navbar, SyncLoader },
  name: 'App',
  data() {
    return {
      color: '#ffe119',
      size: '18px'
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn
    },
    loading() {
      return this.$store.getters.loading
    }
  },
  created() {
    bus.$on('order-stored', () => {
      userService.vouchers().then( (response) => {
        localStorage.setItem('vouchers', JSON.stringify(response.data.vouchers_used_today))
        this.$store.dispatch('refreshVouchers')
      })
    })

    axios.interceptors.response.use(undefined, function (err) {
      return new Promise(function (resolve, reject) {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          this.$store.dispatch(logout)
        }
        throw err;
      });
    });
  },
  watch: {
    loading: {
      handler() {
        document.documentElement.style.overflow = this.loading === true ? 'hidden' : 'auto'
      },
    }
  }
}
</script>

<style lang="scss">
  @import './assets/scss/app.scss';
</style>
